.letter {
    width: 100px;
}

.space {
    display: inline-block;
}

#rowResult {
    display: none;
}

#outputArea{
    /*white-space: nowrap;*/
    overflow: auto;
}

/*.html2canvas-container { width: 8000px !important; height: 3000px !important; }*/